footer {
  margin-top: 5rem;
  background: $color-3;

  h3 {
    font-size: $font-medium;
  }

  p {
    font-size: $font-footer;
  }

  .socials {
    border-top: 1px solid $color-6;
    border-bottom: 1px solid $color-6;
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding: 3rem;
    
    a {
      display: flex;
      border: 1px solid $color-5;
      border-radius: 50px;
      width: 7.6rem;
      height: 7.6rem;
      padding: 5px;
      justify-content: center;

      img {
        width: 80%;
      }
    }
  }

  .copyright {
    border-top: 1px solid $color-6;
    border-bottom: 1px solid $color-6;
    padding: 3rem;
    text-align: center;

    p {
      font-size: $font-min;
    }
  }
}

@media screen and (max-width: 1440px) {
  footer {
    .socials {
      gap: 4rem;
      
      a {
        width: 5rem;
        height: 5rem;
      }
    }

    .copyright {
      p {
        font-size: $font-copyright;
      }
    }
  }
}

// @media screen and (max-width: 650px) {
  
// }