@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


@font-face {
  font-family: 'Lucida';
  src: url(./../assets/fonts/lucida-sans-regular.ttf) format("truetype");
}

$font-1: "Lucida", sans-serif;

$color-1: #42C1BD;
$color-2: #FFF9F3;
$color-3: #FFF3E8;
$color-4: #707070;
$color-5: black;
$color-6: #F5BAF7;

$font-min: 1.8rem;
$font-small: 2.5rem;
$font-medium: 4rem;
$font-big: 5rem;
$font-title: 12rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: $font-1;
  color: $color-5;
  background-color: $color-2;
  line-height: 1;
  overflow-x: hidden;
  position: relative;
}
h1 {
  font-family: $font-1;
  color: $color-5;
  font-size: #{"min(max(3.2rem, 10vw), 12rem)"};
  width:max-content;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-5;
  cursor: pointer;
}
a:visited {
  color: $color-5;
}
span, img {
  display: block;
}
.wrap {
  max-width: 1290px;
  margin: 0 auto;
}
.btn {
  font-size: $font-small;
  font-weight: 700;
  width: max-content;
}
.btn-arrow {
  a {
    position: relative;
    width: max-content;
    display: block;
    z-index: 5;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 120%;
      background: url(../assets/arrow.svg) center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        transform: translateX(15%);
      }
    }

  }
}